Django==4.2.7
Pillow==10.0.1
PyJWT==2.8.0
PyMuPDF==1.23.8
PyPDF2==3.0.1
bcrypt==4.1.1
boto3==1.34.34
botocore==1.34.34
chardet==5.2.0
django-cors-headers==4.3.1
djangorestframework==3.14.0
dnspython==2.4.2
mangum==0.17.0
numpy==1.24.3
openpyxl==3.1.2
pandas==2.0.3
pymongo==4.6.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
qrcode[pil]==7.4.2
reportlab==4.0.4
requests==2.31.0
urllib3==1.26.18
